body{
    margin:0
}
input {
   display: block;
}
 textarea {
    resize: none;
 }

.container {
    padding:32px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
}
.btn-submit {
    background-color: blueviolet;
     background: transparent;
     border: 1px solid violet;
}






.footer-container {
    display: flex;
    text-align: center;
    bottom: 0;
    position: fixed;
    gap: 200px;
    background-color: black;
    padding: 10px;
    width: 100%;
    height: 30%;
}
.contact-container {
    font-size: 20px;
    color: white;
    padding: 15px;
    margin: 10px;
}
.redes-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding:50px 0px;
}
.title-social-container {
    text-align: center;
    color: white;

}
.info_website-container {
    color: white;
    font-size: 18px;
    padding: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.instagram-logo img, .facebook-logo img, .whatsapp-logo img, .twitter-logo img {
    width: 40px;
    height: 40px;
}
.instagram-logo img:hover, .facebook-logo img:hover, .whatsapp-logo img:hover, .twitter-logo img:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}   